#assets
app/**/bindata.go

#docs.go
.yarn

#ide
.idea/
.DS_Store
.vscode

#runtime
runtime/*
!runtime/qrcode/bg.jpg
!runtime/fonts

#cmd

#build
.env
toolkit/build/docker/data/*
toolkit/build/docker/logs/*
*.zip
*.pyc
*.rpm
*.deb
need_build.config
*.k8s.tar.bz2

#internal
*-dev.yaml
*-pro.yaml
*.conf

#web
yarn-error.log
.yarn/**/*
node_modules
venv
dist

#grpc
#*.pb.go

#ipdb
*.ipdb
*.mmdb
.*.BIN
*.BIN
*.xdb
*.xdb*
*.db
*.db*
*.dat
*.exe

# vendor
vendor/*
